#navbarSupportedContent {
  justify-content: end;
  padding-right: 5%;
}

form {
  width: 80%;
  margin: 0 auto;
}

.form-group {
  padding: 10px 0;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 50px;
}

.table{
  width: 80%;
  margin: 0 auto;
}
